# .gitignore

# Then, removes some specifics patterns
# Compiled files
*.o

# Simulations results
*.ghw
*.vcd
*.cf

# Assembles / compilations outputs
*.elf
*.txt
*.hex
*.bin
*.o
*.mif

# Altera simulations models (not open source)
*altera_mf*

# Verilator files
obj_dir
logs

# Doxygen outputs
documentation/latex/
documentation/html/

# VSCode extensions
.VSCodeCounter/*
.vscode/*

# Ramdisk files
*.swp
build/
