# .gitignore

# Remove files without extension
*
!*/
!*.*

# Then, removes some specifics patterns
# Compiled files
*.o

# Simulations results
*.ghw
*.cf

# Assembles / compilations outputs
*.elf
*.hex
*.bin
*.o

# Altera simulations models (not open source)
*altera_mf*
