# .gitignore

# Remove files without extension
*
!*/
!*.*
!DoxyFile

# Then, removes some specifics patterns
# Compiled files
*.o

# Simulations results
*.ghw
*.vcd
*.cf

# Assembles / compilations outputs
*.elf
*.hex
*.bin
*.o
*.mif

# Altera simulations models (not open source)
*altera_mf*

# Doxygen outputs
documentation/*

# VSCode extensions
.VSCodeCounter/*
